.canvas {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

.title {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 32px;
   line-height: 40px;
   letter-spacing: 0.1px;
   color: #FFFFFF;
}