.content {
  flex: 1 1 auto;
}

.viewPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort {
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 0 1 515px;
}

.input {
  padding: 10px 0;
  border-radius: 599px;
  border: none;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  background-color: #fff;
  outline: none;
}

.noBooksFound {
  min-height: 500px;
  width: 100%;
  margin-top: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #A7A7A7;
}

.searchWrapper {
  display: flex;
  align-items: center;
  border: none;
  overflow: hidden;
  border-radius: 599px;
  flex: 1 1 auto;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  background-color: #fff;
  padding: 10px 16px;
}

.searchIcon {
  border: none;
  background: transparent;

  width: 16px;
  height: 16px;
}

.search {
  padding-left: 8px;
  flex: 1 1 auto;
  color: #A7A7A7;
  border: none;
  outline: none;
}

.search::-webkit-search-cancel-button {
  cursor: pointer;
}

.search::placeholder {
  color: #A7A7A7;
}

.searchCross {
  border: none;
  background: transparent;
  display: none;
  flex: 0 0 16px;
  height: 16px;
}

.filter {
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;
  display: flex;
  align-items: center;
  flex: 0 0 150px;
  color: #A7A7A7;
  cursor: pointer;
}

.displayButtons {
  flex-basis: max-content;
  display: flex;
  gap: 16px;
  align-items: center;
}

.displayBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.8px;
  height: 38px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  cursor: pointer;
}

.displayBtn:hover {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.displayBtn:hover svg path {
  fill: #ffffff;
}

.activeDisplayBtn {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.activeDisplayBtn svg path {
  fill: #ffffff;
}

.books {
  margin-top: 32px;
  height: 100%;
}

.groupByTile {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 21.5px;
}

.groupByList {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
}

.bookLink {
  display: block;
}

@media (max-width: 950px) {
  .books {
    justify-content: center;
  }

  .groupByTile {
    gap: 32px 35px;
  }

  .noBooksFound {
    margin-top: 170px;
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {

  .searchWrapper {
    flex: 0 1 274px;
  }
}

@media (max-width: 576px) {

  .groupByTile {
    gap: 16px 35px;
  }

  .viewPanel {
    position: relative;
  }

  .sort {
    max-width: 80px;
  }

  .searchWrapper {
    justify-content: center;
  }

  .search {
    display: none;
  }

  .searchWrapper {
    flex: none;
    width: 32px;
  }

  .searchWrapper,
  .filter {
    height: 32px;
  }

  .filter {
    flex-basis: 32px;
    justify-content: center;
    padding: 8px;
  }

  .filter span {
    display: none;
  }

  .displayBtn {
    width: 32px;
    height: 32px;
    padding: 7px;
  }

  .searchWrapper.full .search {
    padding-left: 25px;
    display: block;
    color: #A7A7A7;
  }

  .searchWrapper.full .searchIcon {
    display: none;
  }

  .searchWrapper.full {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-image: none;
    color: #A7A7A7;
    padding-left: 0;
    padding-right: 10px;
  }

  .search::-webkit-search-cancel-button {
    display: none;
  }

  .searchWrapper.full .searchCross {
    display: inline-block;
  }

  .noBooksFound {
    min-height: 130px;
    margin-top: 90px;
    font-size: 18px;
    line-height: 28px;
  }

  .order {
    padding: 8px;
    width: 32px;
    height: 32px;
  }
}

@media (max-width:450px) {
  .bookLink {
    width: 100%;
  }
}