.book {
   display: flex;
   padding: 24px 24px 24px 16px;
   gap: 16px;
   width: 100%;
   height: 100%;
   background: #FFFFFF;
   align-items: flex-start;
   cursor: pointer;
   box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
   border-radius: 10px;
}

.image {
   flex: 0 0 120px;
   border-radius: 10px;
}

.image img {
   width: 100%;
   height: 100%;
}

.content {
   flex: 1 1 auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title {
   font-weight: 700;
   font-size: 22px;
   line-height: 32px;
   color: #363636;

   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

.author {
   margin-top: 8px;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #727272;
}

.bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   flex-wrap: wrap;
}

.rating {
   display: flex;
   gap: 5px;
}

.order {
   margin-top: auto;
   padding: 11px 23px;
   border: 1px solid transparent;
   background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
   border-radius: 20px;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
}

.booked {
   border: 1px solid #BFC4C9;
   background: #F9F9FA;
   color: #A7A7A7;
}

@media (max-width: 576px) {

   .image {
      flex-basis: 100px;
   }

   .content {
      gap: 10px;
   }

   .title {
      font-size: 18px;
      line-height: 24px;
   }

   .author {
      font-size: 14px;
   }

   .order,
   .booked {
      flex: 1 1 100%;
   }
}

@media (max-width: 425px) {
   .book {
      padding: 16px 16px 16px 8px;
      gap: 8px;
   }

   .image {
      flex-basis: 70px;
   }

   .content {
      gap: 0;
   }

   .title {
      font-size: 14px;
      line-height: 18px;
   }

   .author {
      margin: 0;
      font-size: 12px;
   }

   .bottom {
      gap: 16px;
   }

   .rating img {
      width: 16px;
      height: 16px;
   }
}