.book {
   display: flex;
   flex-direction: column;
   padding: 8px 8px 16px;
   width: 100%;
   max-width: 190px;
   min-width: 190px;
   min-height: 470px;
   max-height: 470px;
   background: #FFFFFF;
   align-items: center;
   cursor: pointer;
   box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
   border-radius: 10px;
}

.imageWrapper {
   border-radius: 10px;
   width: 100%;
   overflow: hidden;
}

.image {
   width: 100%;
   min-height: 230px;
   max-height: 230px;
}

.rating {
   min-height: 24px;
   margin-top: 16px;
   display: flex;
   gap: 5px;
   align-self: flex-start;
}

.description {
   align-self: flex-start;
   margin-top: 17px;
   min-height: 89px;
   display: flex;
   flex-direction: column;
}

.title {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.1px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.author {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;

   margin-top: auto;
   text-transform: capitalize;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #727272;
}

.order {
   width: 100%;
   margin-top: auto;
   padding: 11px 23px;
   border: 1px solid transparent;
   background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
   border-radius: 20px;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
}

.booked {
   width: 100%;
   border: 1px solid #BFC4C9;
   background: #F9F9FA;
   color: #A7A7A7;
}

@media (max-width: 450px) {
   .book {
      padding: 8px 16px 16px;
      max-width: none;
   }

   .author {
      font-size: 12px;
   }
}