.modal {
   margin-top: 100px;
   max-width: 600px;
   width: 100%;
   padding: 48px 92px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 32px;

   background: #FFFFFF;
   border-radius: 16px;
}

.title {
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   text-align: center;
   letter-spacing: 0.1px;
   color: #363636;
}

.errorText {
   text-align: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px;
   color: #363636;
}

.button {
   text-align: center;
   font-weight: 600;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   color: #FFFFFF;
   width: 100%;
   padding: 14px 0;
   background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
   border-radius: 30px;
   border: none;
   cursor: pointer;
}