.form {
   margin-top: 46px;
   height: 492px;
   max-width: 528px;
   width: 100%;
   background: #FFFFFF;
   border-radius: 16px;
   padding: 48px 56px;
}

.formTitle {
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   letter-spacing: 0.1px;
   color: #363636;
}

.steps {
   margin-top: 8px;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.1px;
   color: #363636;
}

.fields {
   margin-top: 32px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.field {
   min-height: 76px;
}

.input {

   min-height: 56px;
   width: 100%;
   background: #F9F9FA;
   border-radius: 4px;
   border: none;
   outline: none;
   padding-left: 12px;
}

.inputTip {
   margin-top: 2px;
   margin-left: 12px;
   font-weight: 500;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.2px;
   color: #A7A7A7;
}

.nextStepBtn {
   border: none;

   margin-top: 32px;

   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
   border-radius: 30px;
   width: 100%;

   padding: 14px 0;

   font-weight: 600;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.2px;
   text-transform: uppercase;

   color: #FFFFFF;

   cursor: pointer;
}

.hasAccount {
   margin-top: 16px;
   display: flex;
   align-items: center;
   gap: 16px;
}

.sign {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.1px;
   color: #727272;
}

.signInLink {
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   color: #363636;
}