.formWrapper {
   padding: 48px 56px;
   max-width: 528px;
   width: 100%;
   background: #FFFFFF;
   border-radius: 16px;
}

.field {
   position: relative;
}

.field:not(:first-child) {
   margin-top: 18px;
}

.btn {
   margin-top: 68px;
}