.header {
   padding-top: 28px;
   color: #363636;
   font-family: 'Montserrat';
}

.header.controlsActive {
   box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
}

.container {
   display: flex;
   align-items: center;
}

.burger {
   width: 32px;
   height: 32px;
   display: none;
   flex-direction: column;
   gap: 5.33px;
   align-items: center;
   justify-content: center;
   border: none;
}

.burger span {
   width: 100%;
   height: 3px;
   background: #363636;
}

.burgerOpen {
   position: relative;
   background-color: transparent;
}

.burgerOpen span {
   position: absolute;
   width: 100%;
   background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

.burgerOpen span:nth-child(1) {
   transform: rotate(-45deg);
}

.burgerOpen span:nth-child(2) {
   display: none;
}

.burgerOpen span:nth-child(3) {
   transform: rotate(45deg);
}

.title {
   font-weight: 700;
   font-size: 32px;
   line-height: 40px;
   letter-spacing: 0.1px;
   margin-left: 120px;
}

.profile {
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 7px;
   position: relative;
   cursor: pointer;
}

.greet {
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.1px
}

.controls {
   padding: 32px 24px;
   position: absolute;
   right: 0;
   bottom: -152px;
   min-width: 270px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 32px;
   background: #FFFFFF;
   box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
   border-radius: 0px 0px 10px 10px;
}

.controlsBtn {
   background: transparent;
   border: none;
   font-weight: 700;
   font-size: 18px;
   line-height: 28px;
   letter-spacing: 0.1px;
   color: #363636;
   cursor: pointer;
}

@media (max-width: 950px) {

   .logo,
   .profile {
      display: none;
   }

   .burger {
      display: flex;
      background-color: transparent;
      border: none;
   }
}

@media (max-width: 768px) {
   .title {
      margin-left: 24px;
   }

   .container {
      max-width: 680px;
   }

   .burger {
      display: flex;
   }

   .logo,
   .profile {
      display: none;
   }
}

@media (max-width: 576px) {
   .section {
      padding: 24px 0px 26px;
      margin-bottom: 8px;
   }

   .title {
      font-size: 18px;
      line-height: 28px;
   }

   .burger {
      width: 24px;
   }

   .burger span {
      height: 2px;
   }
}

@media (max-width: 420px) {
   .section .container {
      padding: 0 15px;
      max-width: 328px;
   }
}