.wrapper {
   position: fixed;
   top: 64px;
   max-width: 1110px;
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   padding: 0 15px;
}

.inner {
   display: flex;
   height: 80px;
   align-items: center;
   padding: 24px 32px;
   gap: 10px;
   background: #FEEBEA;
   border: 1.5px solid #F42C4F;
   border-radius: 5px;
}

.message {
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px;
   color: #363636;
}

.crossIcon {
   cursor: pointer;
   margin-left: auto;
   border: none;
   background: transparent;
}

@media (max-width: 768px) {
   .wrapper {
      max-width: 640px;
   }

   .inner {
      padding: 24px 16px;
   }

   .errorIcon svg,
   .crossIcon svg {
      width: 100%;
      height: 100%;
   }

   .errorIcon {
      flex: 0 0 24px;
      height: 24px;
   }

   .message {
      font-size: 14px;
      line-height: 18px;
   }

   .crossIcon {
      flex: 0 0 16px;
      height: 16px;
   }
}

@media (max-width: 576px) {
   .inner {
      height: auto;
      align-items: flex-start;
   }
}